// GENERAL STYLES
body{
  margin:0;
}

// APP COMPONENT
.app{
  display: flex;
  flex-direction: row;
}


// CANVAS COMPONENT
.canvasWrapper{
  
  canvas{
    border: 1px solid black; 
  }
}

// MAPINFO 

.mapInfoWrapper{
  position: fixed;
  top:0;
  right:1%;
  height:100vh;
  border: 1px solid black;
  width:28%;
}