// GENERAL STYLES
body{
  margin:0;
}

// APP COMPONENT
.app{
  display: flex;
  flex-direction: row;
}

// LOGIN COMPONENT
.loginWrapper{
  .loginTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
    
    h4{
      color:white;
      font-size: 1.2rem;
      margin:0;
    }
    h1{
      color:white;
      font-size: 4rem;
      margin:0;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;

    .inputContainer{
      display: flex;
      align-items: center;
      margin: 1rem;
      
      h4{
        color:white;
        margin-right:2rem;
      }
      input{
        height: 3rem;
        width:12rem;
        border-radius: 10px;
        font-size: 1rem;
        padding-left:.5rem;
      }
    }
  }
  .loginButtonContainer{
    display: flex;
    justify-content: center;
    button{
      
      margin-top:2rem;
      width:5rem;
      height:2rem;
      border-radius:10px;
      font-size: .9rem;
      cursor: pointer;
    }
  }
  canvas{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
}


// CANVAS COMPONENT
.canvasWrapper{
  
  canvas{
    border: 1px solid black; 
  }
}

// MAPINFO 

.mapInfoWrapper{
 
  position: fixed;
  top:0;
  right:1%;
  height:100vh;
  border: 1px solid black;
  width:28%;
}

.availableButton {
  background-color: green;
  width: 40px;
  height: 50px;
}

.regularButton {
  background-color: gray;
  width: 40px;
  height: 50px;
}

