// GENERAL STYLES
body{
  margin:0;
}

// APP COMPONENT
.app{
  display: flex;
  flex-direction: row;
  width:100vw;
  height:100vh;
}

// LOGIN COMPONENT
.loginWrapper{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top:10%;
  .loginTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    h4{
      color:white;
      font-size: 1.2rem;
      margin:0;
    }
    h1{
      color:white;
      font-size: 4rem;
      margin:0;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;

    .inputContainer{
      display: flex;
      align-items: center;
      margin: 1rem;
      
      h4{
        color:white;
        margin-right:2rem;
      }
      input{
        height: 3rem;
        width:12rem;
        border-radius: 10px;
        font-size: 1rem;
        padding-left:.5rem;
      }
    }
  }
  .loginButtonContainer{
    display: flex;
    justify-content: center;
    button{
      
      margin-top:2rem;
      width:5rem;
      height:2rem;
      border-radius:10px;
      font-size: .9rem;
      cursor: pointer;
    }
  }
  canvas{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
}


// CANVAS COMPONENT
.canvasWrapper{
  
  canvas{
    border: 1px solid black; 
    position: fixed;
    top:0;
    right:0;
    z-index: -1;
  }
}

//ROOM DATA TT Styling
.roomAndCoords{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-family: 'Saira Stencil One';
  font-size: 20px;
}

.title-description {
  h3 {
    font-size: 30px;
    font-family: 'Saira Stencil One';
    margin: 0;
  }
  p{
    font-family: 'Roboto';
    margin: 10px;
  }
}

.game-buttons{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  button{
      width: 35%;
      height: 35px;
      font-size: 15px;
       background-color: #FF6347;
       font-family: 'Saira Stencil One';
       border-radius: 5px;
      cursor: pointer;

      &:focus {
        outline:0;
      }
      &:hover{
        background-color: white;
      }
  }
}

.logout{
  width: 150px;
  margin: 0 auto;

  button{
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: #FF6347;
    font-family: 'Saira Stencil One';
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
  }
}

.player-message{
    font-family: 'Roboto';
    padding: 20px;
}

.grab-button{
  margin: 10px;
    width: 70%;
    height: 35px;
    font-size: 18px;
    background-color: #FF6347;
    font-family: 'Saira Stencil One';
    border-radius: 5px;
    cursor: pointer;
}

#timer{
  font-family: 'Saira Stencil One';
}

// MAPINFO 

.mapInfoWrapper{
  width:25vw;
  height:100vh;
  margin-left:1rem;
  // border: 1px solid black;
  .directionButtons{
    display: flex;
    justify-content: space-between;
    
    .button{
      width: 100%;
      height: 50px;
      font-size: 1.8rem;
      font-weight: bolder;
      font-family: 'Saira Stencil One';
      border-radius: 5px;
      cursor: pointer;
      &:focus {
        outline:0;
      }
      &:hover{
        background-color: white;
      }
    }
    
    .availableButton {
      background-color:#FF6347;
    }
    
    .regularButton {
      background-color: gray;
    }
  }
  
}


// POPUP

.popup {  
  position: fixed;  
  width: 50%;  
  height: 80%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.9);  

  h2{
    color: white;
    cursor: pointer;
    margin: 1rem 0 0 1rem;
  }
  .name{
    display: flex;
    justify-content: center;
    color:white;
  }
  .innerPopup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80%;

    .stats{
      margin-left:3rem;
    }
  }

}  

